<%- include('partials/header.ejs') %>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> This website serves as my capstone project, developed using Node.js,
        Express.js, and other technologies. <br />Its purpose is to enable users to
        read existing blogs, create their own, and manage their posts by editing or
        deleting them.</p>
    </div>
  </div>


<h1 class="title-text"></h1>
<p class="desc">
  
</p>

<%- include('partials/footer.ejs') %>
